h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
    color: blue;
}
body{
    background-color: aqua;
}
.imagem{
    width: 500px;
    height: 500px;
}
#paragrafo{
    color: lightcoral;
    font-size: 20px;
    }
    .link{
        padding-top: 20px;
        text-align: center;
        width: 150px;
        height: 50px;
        background-color: black;
        color: white;
        border-radius: 10px;
        text-decoration: none;
        font-size: 20px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        
    }

